.col-center{
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.page-breadcrumb{
  position: relative;
  .action-buttons{
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}
.drop-btn{
  // padding: 0.25em 0.50em;
  display: table-row;
  td{
    padding: 0.25em 0.50em;
    &:first-child{
      text-align: center;
    }
  }
}
.companies-drop{
  max-height: 400px;
  overflow-y: auto;
}

// scroll horizontal
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

