<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">{{isNew?'Nuevo':'Editar'}} Contacto</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Contactos</a></li>
                    <li class="breadcrumb-item active">{{isNew?'Nuevo':'Editar'}} Contacto</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form-horizontal m-t-20" [formGroup]="contactForm" (ngSubmit)="isNew?createContact():updateContact()">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Nombre </label>
                        <input type="text" class="form-control form-control-sm" placeholder="Nombre" name="full_name"
                            formControlName="full_name" required>
                        <div *ngIf="contactForm.controls['full_name'].invalid && (contactForm.controls['full_name'].dirty || contactForm.controls['full_name'].touched)"
                            class="invalid-feedback">
                            Nombre requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>RUT <small>(sin puntos ni guiones)</small></label>
                        <input type="text" class="form-control form-control-sm" placeholder="RUT" name="rut"
                            formControlName="rut" >
                        <div *ngIf="contactForm.controls['rut'].invalid && (contactForm.controls['rut'].dirty || contactForm.controls['rut'].touched)"
                            class="invalid-feedback">
                            <div
                                *ngIf="contactForm.controls['rut'].errors.invalidRut || contactForm.controls['rut'].errors.requiredLength">
                                RUT incorrecto
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Telefono </label>
                        <input type="text" class="form-control form-control-sm" placeholder="56 xx xxxx xxxx"
                            name="phone" formControlName="phone" mask chileanMask
                            [validation]="false" required>
                        <div *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)"
                            class="invalid-feedback">
                            Teléfono requerido
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>E-mail</label>
                        <input type="email" class="form-control form-control-sm" placeholder="E-mail" name="email"
                            formControlName="email" >
                        <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)"
                            class="invalid-feedback">
                            <div *ngIf="contactForm.controls['email'].errors.email">
                                Ingrese un E-mail válido
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 mt-3">
                        <label>Dirección </label>
                        <input type="text" formControlName="address" class="form-control form-control-sm" placeholder="Dirección"
                            name="address" #addressSearch required>
                        <div *ngIf="contactForm.controls['address'].invalid && (contactForm.controls['address'].dirty || contactForm.controls['address'].touched)"
                            class="invalid-feedback">
                            La dirección es requerida
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>Dpto./Oficina</label>
                        <input type="text" formControlName="address_number" class="form-control form-control-sm" placeholder="Dpto./Oficina" name="address_number">
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>Comuna </label>
                        <input type="text" formControlName="comune" class="form-control form-control-sm" placeholder="Comuna" name="comune"
                            required readonly>
                        <div *ngIf="contactForm.controls['comune'].invalid && (contactForm.controls['comune'].dirty || contactForm.controls['comune'].touched)"
                            class="invalid-feedback">
                            La comuna es requerida
                        </div>
                    </div>
                    <div class="col-sm-4 mt-3">
                        <label>Region </label>
                        <input type="text" formControlName="region" class="form-control form-control-sm" placeholder="Region" name="region"
                            required readonly>
                        <div *ngIf="contactForm.controls['region'].invalid && (contactForm.controls['region'].dirty || contactForm.controls['region'].touched)"
                            class="invalid-feedback">
                            La región es requerida
                        </div>
                    </div>
                </div>
                <br>
                <div class="row d-flex flex-row-reverse">
                    <div class="col-2">
                        <button class="btn btn-block btn-sm btn-success" [disabled]="!contactForm.valid" type="submit"><i
                                class="fa fa-id-card"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>