<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo text-center"><span class="db">
                <img alt="logo" src="assets/images/LogoConexxion.png"></span>
                <h5 class="font-medium m-b-20">Nueva contraseña</h5></div>
            <div class="row">
                <div class="col-12">
                    <form  ngNativeValidate (ngSubmit)="restorePass()" id="resetform" class="form-horizontal m-t-20" >
                        <!-- <div class="form-group row">
                            <div class="col-12 ">
                                <input [(ngModel)]="restoreData.token" name="token" class="form-control form-control-lg" placeholder="token" required type="text">
                            </div>      
                        </div> -->
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input [(ngModel)]="restoreData.password"  name="password" class="form-control form-control-lg" placeholder="Contraseña" required type="password">
                            </div>      
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input [(ngModel)]="restoreData.confirm_password"  name="confirm_password" class="form-control form-control-lg" placeholder="Confirmar Contraseña" required type="password">
                            </div>      
                        </div>
                        <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20 "><button [disabled]="isLoading" class="btn btn-block btn-lg btn-info " type="submit ">Enviar</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 