<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Vehículos</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado</li>
                    <!-- <li class="breadcrumb-item active"><a routerLink="../" >Sucursales</a> -->
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <table #segmentsTable datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                    <thead>
                        <tr>
                            <th>Patente</th>
                            <th>Tipo</th>
                            <th>Disponible</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="currentPage?.length != 0">
                        <tr *ngFor="let el of currentPage">
                            <td>{{el.plate}}</td>
                            <td>{{el.type_display}}</td>
                            <td>{{el.available_display}}</td>
                            <td>
                                <a class="btn btn-info btn-sm" [routerLink]="[el.id]" >
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="currentPage?.length == 0">
                        <tr>
                            <td colspan="3" class="no-data-available">No se encontraron resultados</td>
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>