<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../../companies" >Empresa</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Asignación &nbsp;<i class="ti-arrow-up text-success"></i></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rebaja  &nbsp; <i class="ti-arrow-down text-info"></i></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Impresión Masiva  &nbsp; <i class="ti-printer text-purple"></i></h4>
                </div>
            </div>
        </div>
       
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">localizacion Conductor &nbsp; <i class="ti-location-pin text-danger"></i></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card">    
        <div class="card-body">
                <h5 class="card-title">Lista Clientes </h5>
            <div class="row d-flex flex-row-reverse">  
                <div class="col-2">
                    <br>
                </div>
            </div>      
            <table #branchesTable datatable class="row-border hover" [dtOptions]="dtOptions">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Correo</th>
                        <th>Telefono</th>     
                        <th>Dirección</th>
                    </tr>
                    </thead>
                    <tbody >
                    </tbody>
            </table>
        </div> 
    </div>
</div>
            
<!-- <ng-template #contentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Editar Sucursal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="branchForm" (ngSubmit)="updateBranch()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <label>Nombre</label>
                <input type="text" formControlName="name" class="form-control form-control-sm" placeholder="Nombre" name="name"
                    required>
                <div *ngIf="branchForm.controls['name'].invalid && (branchForm.controls['name'].dirty || branchForm.controls['name'].touched)"
                    class="invalid-feedback">
                    El nombre es requerido
                </div>
            </div>
            <div class="col-sm-8">
                <label>Dirección </label>
                <input type="text" formControlName="address" class="form-control form-control-sm" placeholder="Dirección"
                    name="address" required>
                <div *ngIf="branchForm.controls['address'].invalid && (branchForm.controls['address'].dirty || branchForm.controls['address'].touched)"
                    class="invalid-feedback">
                    La dirección es requerida
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label>Comuna </label>
                <input type="text" formControlName="comune" class="form-control form-control-sm" placeholder="Comuna"
                    name="comune" required>
                <div *ngIf="branchForm.controls['comune'].invalid && (branchForm.controls['comune'].dirty || branchForm.controls['comune'].touched)"
                    class="invalid-feedback">
                    La comuna es requerida
                </div>
            </div>
            <div class="col-sm-4">
                <label>Provincia </label>
                <input type="text" formControlName="province" class="form-control form-control-sm" placeholder="Provincia"
                    name="province" required>
                <div *ngIf="branchForm.controls['province'].invalid && (branchForm.controls['province'].dirty || branchForm.controls['province'].touched)"
                    class="invalid-feedback">
                    La provincia es requerida
                </div>
            </div>
            <div class="col-sm-4">
                <label>Region </label>
                <input type="text" formControlName="region" class="form-control form-control-sm" placeholder="Region"
                    name="region" required>
                <div *ngIf="branchForm.controls['region'].invalid && (branchForm.controls['region'].dirty || branchForm.controls['region'].touched)"
                    class="invalid-feedback">
                    La región es requerida
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <label>Nombre Contacto</label>
                <input type="text" formControlName="contact_name" class="form-control form-control-sm"
                    placeholder="Nombre Contacto" name="contact_name" required>
                <div *ngIf="branchForm.controls['contact_name'].invalid && (branchForm.controls['contact_name'].dirty || branchForm.controls['contact_name'].touched)"
                    class="invalid-feedback">
                    Nombre de Contacto requerido
                </div>
            </div>
            <div class="col-sm-4">
                <label>Teléfono </label>
                <input type="text" formControlName="phone" class="form-control form-control-sm" placeholder="Telefono"
                    name="phone" chileanMask mask [validation]="false" required>
                <div *ngIf="branchForm.controls['phone'].invalid && (branchForm.controls['phone'].dirty || branchForm.controls['phone'].touched)"
                    class="invalid-feedback">
                    El teléfono es requerido
                </div>
            </div>
            <div class="col">
                <label>Max. Usuarios</label>
                <input type="number" min="0" formControlName="max_users" class="form-control form-control-sm"
                    placeholder="Max. Usuarios" name="max_users" required>
                <div *ngIf="branchForm.controls['max_users'].invalid && (branchForm.controls['max_users'].dirty || branchForm.controls['max_users'].touched)"
                    class="invalid-feedback">
                    Max. de usuarios requerido
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark">Guardar</button> 
    </div>
    </form>
  
</ng-template> -->