<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Tramos</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../" >Listado</a>
                    <li class="breadcrumb-item active">Tramos</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <h4 class="card-title"><strong>{{segmentForm.value.name}}</strong></h4>
                </div>
                <!-- {{segmentForm.value | json}} -->
                <form [formGroup]="segmentForm" class="mt-1" (ngSubmit)="saveOrCreate()">
                    <div class="row">
                        <div class="col-md-4 mt-1">
                            <label><strong>Nombre</strong></label>
                            <input type="text" class="form-control" formControlName="name" name="name"
                                placeholder="Ingrese Nombre" required>
                            <div *ngIf="segmentForm.controls['name'].invalid && (segmentForm.controls['name'].dirty || segmentForm.controls['name'].touched)"
                                class="invalid-feedback">
                                Nombre requerido
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Peso mímino</strong></label>
                            <div class="input-group">
                                <input currencyMask [options]="{ prefix: '', thousands: '.', decimal:',', precision: '2' }" min="0" max="9000000" type="text" step="0.01" class="form-control" formControlName="min_weight" name="min_weight" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">kg</span>
                                </div>
                                <div *ngIf="segmentForm.controls['min_weight'].invalid && (segmentForm.controls['min_weight'].dirty || segmentForm.controls['min_weight'].touched)"
                                    class="invalid-feedback">
                                    Peso mímino requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Peso máximo</strong></label>
                            <div class="input-group">
                                <input currencyMask [options]="{ prefix: '', thousands: '.', decimal:',', precision: '2' }" min="0" max="9000000" type="text" step="0.01" class="form-control" formControlName="max_weight" name="max_weight" required>
                                <div class="input-group-append">
                                    <span class="input-group-text">kg</span>
                                </div>
                                <div *ngIf="segmentForm.controls['max_weight'].invalid && (segmentForm.controls['max_weight'].dirty || segmentForm.controls['max_weight'].touched)"
                                    class="invalid-feedback">
                                    Peso máximo requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Ancho</strong></label>
                            <div class="input-group">
                                <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  step="1" class="form-control" formControlName="width" name="width"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text">Cm</span>
                                </div>
                                <div *ngIf="segmentForm.controls['width'].invalid && (segmentForm.controls['width'].dirty || segmentForm.controls['width'].touched)"
                                    class="invalid-feedback">
                                    Ancho requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Alto</strong></label>
                            <div class="input-group">
                                <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text" step="1" class="form-control" formControlName="height" name="height"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text">Cm</span>
                                </div>
                                <div *ngIf="segmentForm.controls['height'].invalid && (segmentForm.controls['height'].dirty || segmentForm.controls['max_weight'].touched)"
                                    class="invalid-feedback">
                                    Alto requerido
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Profundidad</strong></label>
                            <div class="input-group">
                                <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text" step="0.01" class="form-control" formControlName="depth" name="depth"
                                    required>
                                <div class="input-group-append">
                                    <span class="input-group-text">cm</span>
                                </div>
                                <div *ngIf="segmentForm.controls['depth'].invalid && (segmentForm.controls['depth'].dirty || segmentForm.controls['depth'].touched)"
                                    class="invalid-feedback">
                                    Profundidad requerida
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="greed">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <h4>Precios</h4>
                        </div>
                        <div class="col-lg-4 col-md-4 d-none d-md-block d-sm-none">
                            Sin retorno
                        </div>
                        <div class="col-lg-4 col-md-4 d-none d-md-block d-sm-none">
                            Con retorno
                        </div>
                    </div>
                    <br>
                    <div formArrayName="segment_price" *ngFor="let price of segment_price.controls; let i=index">
                        <div class="row" [formGroupName]="i">
                            <input formControlName="service" type="hidden">
                            <div class="col-lg-4 col-md-4 mt-1">
                                <strong>{{getService(segment_price.value[i].service).name}}</strong>
                            </div>
                            <div class="col-lg-4 col-md-4 mt-1 row no-gutters">
                                <label class="col-12 col-form-label d-md-none d-xl-block">Sin retorno</label>
                                <div class="col-lg-12 col-10">
                                    <div class="input-group">
                                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text" formControlName="no_return"
                                            class="form-control form-control-sm content-center" placeholder="Sin retorno" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div *ngIf="price.controls['no_return'].invalid && (price.controls['no_return'].dirty || price.controls['no_return'].touched)"
                                            class="invalid-feedback">
                                            Precio requerido
                                            <!-- Precio no válido -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 mt-1 row no-gutters">
                                <label class="col-12 col-form-label d-md-none d-xl-block">Con retorno</label>
                                <div class="col-lg-12 col-10">
                                    <div class="input-group">
                                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  formControlName="with_return"
                                            class="form-control form-control-sm" placeholder="Con retorno" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div *ngIf="price.controls['with_return'].invalid && (price.controls['with_return'].dirty || price.controls['with_return'].touched)"
                                            class="invalid-feedback">
                                            Precio requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row d-flex flex-row-reverse mt-2">
                        <div class="col-2">
                            <button class="btn btn-block btn-sm btn-success text-white" [disabled]="!segmentForm.valid || isLoading"
                                type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>