<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Sucursales</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../../" >Empresa</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Sucursales</a></li>
                    <li class="breadcrumb-item active">{{isNew?'Nueva':'Editar'}} Sucursal</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form-horizontal m-t-20" [formGroup]="branchForm"
            (ngSubmit)="isNew?createBranchSave():updateBranch()" id="loginform">
            <div class="card-body">
                <h5 class="card-title">Sucursal</h5>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Nombre</label>
                        <input type="text" formControlName="name" class="form-control form-control-sm"
                            placeholder="Nombre" name="name" required>
                        <div *ngIf="branchForm.controls['name'].invalid && (branchForm.controls['name'].dirty || branchForm.controls['name'].touched)"
                            class="invalid-feedback">
                            El nombre es requerido
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <label>Dirección </label>
                        <input type="text" formControlName="address" class="form-control form-control-sm"
                            placeholder="Dirección" name="address" #addressSearch required>
                        <div *ngIf="branchForm.controls['address'].invalid && (branchForm.controls['address'].dirty || branchForm.controls['address'].touched)"
                            class="invalid-feedback">
                            La dirección es requerida
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Dpto./Oficina/Ref.</label>
                        <input type="text" formControlName="address_number" class="form-control form-control-sm" placeholder="Dpto./Oficina/Ref." name="address_number">
                    </div>
                    <div class="col-sm-4">
                        <label>Comuna </label>
                        <input type="text" formControlName="comune" class="form-control form-control-sm"
                            placeholder="Comuna" name="comune" required readonly>
                        <div *ngIf="branchForm.controls['comune'].invalid && (branchForm.controls['comune'].dirty || branchForm.controls['comune'].touched)"
                            class="invalid-feedback">
                            La comuna es requerida
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Provincia </label>
                        <input type="text" formControlName="province" class="form-control form-control-sm"
                            placeholder="Provincia" name="province" required readonly>
                        <div *ngIf="branchForm.controls['province'].invalid && (branchForm.controls['province'].dirty || branchForm.controls['province'].touched)"
                            class="invalid-feedback">
                            La provincia es requerida
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Region </label>
                        <input type="text" formControlName="region" class="form-control form-control-sm"
                            placeholder="Region" name="region" required readonly>
                        <div *ngIf="branchForm.controls['region'].invalid && (branchForm.controls['region'].dirty || branchForm.controls['region'].touched)"
                            class="invalid-feedback">
                            La región es requerida
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Nombre Contacto</label>
                        <input type="text" formControlName="contact_name" class="form-control form-control-sm"
                            placeholder="Nombre Contacto" name="contact_name" required>
                        <div *ngIf="branchForm.controls['contact_name'].invalid && (branchForm.controls['contact_name'].dirty || branchForm.controls['contact_name'].touched)"
                            class="invalid-feedback">
                            Nombre de Contacto requerido
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Teléfono </label>
                        <input type="text" formControlName="phone" class="form-control form-control-sm"
                            placeholder="Telefono" name="phone" chileanMask mask [validation]="false" required>
                        <div *ngIf="branchForm.controls['phone'].invalid && (branchForm.controls['phone'].dirty || branchForm.controls['phone'].touched)"
                            class="invalid-feedback">
                            El teléfono es requerido
                        </div>
                    </div>
                    <!-- <div class="col">
                        <label>Max. Usuarios</label>
                        <input type="number" min="0" formControlName="max_users" class="form-control form-control-sm"
                            placeholder="Max. Usuarios" name="max_users" required>
                        <div *ngIf="branchForm.controls['max_users'].invalid && (branchForm.controls['max_users'].dirty || branchForm.controls['max_users'].touched)"
                            class="invalid-feedback">
                            Max. de usuarios requerido
                        </div>
                    </div> -->
                </div>
                <br>
                <div class="row d-flex flex-row-reverse">
                    <div class="col-2">
                        <button class="btn btn-block btn-sm btn-success" [disabled]="!branchForm.valid || isLoading"
                            type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>