.auth-wrapper .auth-box {
    background: #fff;
    padding: 20px;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    max-width: 800px;
    // width: 90%;
    // margin: 10% 0;
    height: 100vh;
}
.auth-wrapper{
  background: url(/assets/images/helpdesk.jpg) center /cover no-repeat;
}

@media screen and (max-width:768px){
    .auth-wrapper .auth-box {
      width: 100%;
    }
    .auth-wrapper{
      background: none;
    }
}