<div class="auth-wrapper d-flex no-block justify-content-end align-items-right">
    <div class="auth-box d-flex align-items-center justify-content-center">
        <router-outlet></router-outlet>
    </div>
</div>