
<div class="col-sm-12 col-lg-12">
  <div class="page-breadcrumb">
      <div class="row page-titles">
          <div class="col-md-6 col-8 align-self-center">
              <h3 class="text-themecolor mb-0 mt-0">Empresas</h3>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                  <li class="breadcrumb-item active">Empresas</li>
              </ol>
          </div>
      </div>
      <div class="card">
        <div class="card-body">
          <!-- <div class="d-flex flex-row-re erse">
            <button type="button" routerLink="new" class="btn btn-primary" >Crear</button>
          </div>
          <br> -->
          <table #companiesTable datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                <thead>
                  <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Nombre</th>
                    <th>Tipo Empresa</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody >
                  <!-- <tr *ngFor="let list of listCompany">
                    <td>{{ list.name }}</td>
                    <td>{{ list.rut }}</td>
                    <td>{{ list.company_type }}</td>
                        <td> <button type="button" class="btn btn-info btn-sm" (click)="editLis(list.id)"><i class="fas fa-pencil-alt"></i></button></td>
                    </tr> -->
                </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
