<div class="modal-header">
    <h5 class="modal-title" id="print-masive">Notas de la OT</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body mx-3">
    <form ngNativeValidate (ngSubmit)="addAnnon(annonForm)" class="mb-2" #annonForm="ngForm">
        <textarea type="text" class="form-control form-control-sm no-resize" placeholder="Nueva anotación." name="deliver_info" [(ngModel)]="newAnnon.note" required></textarea>
        <button type="submit" [disabled]="isLoading" class="btn btn-success btn-sm mt-1 float-right">Guardar</button>
        <div class="clearfix"></div>
    </form>
    <div class="annon-container">
        <div class="text-center" *ngIf="isLoading">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
        </div>
        <div *ngIf="!isLoading && annons.length == 0">
            <h4>No hay anotaciones</h4>
        </div>
        <div *ngFor="let el of annons">
            <p class="m-0">{{el.note}}</p>
            <p class="m-0 text-right"><small>{{el.author}} (<i>{{el.created_at}}</i>)</small></p>
            <hr class="mt-0">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" (click)="modal.dismiss('Cross click')">Cerrar</button>
</div>