<div class="col-sm-12 col-lg-12">
        <div class="page-breadcrumb">
            <div class="row page-titles">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="text-themecolor mb-0 mt-0">Ficha Cliente</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                        <!-- <li class="breadcrumb-item active" ><a routerLink="../../" >Empresa</a></li> -->
                        <li class="breadcrumb-item active">
                            <a routerLink="../" >Listado</a>
                        </li>
                        <li class="breadcrumb-item active">Ficha</li>
                    </ol>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                  <!-- <img src="./../../../../assets/images/LogoConexxion.png"> -->
              <div class="text-center">
                  <h3 class="card-title"><strong>Ficha Cliente</strong></h3>
                </div>
                <!-- <h6 class="card-subtitle">  INFORMACION DEL CLIENTE  </h6> -->
                <form  [formGroup]="companyForm" class="mt-4" (ngSubmit)="createFicha()" autocomplete="off">
                    <div class="text-center titulo">
                        <h4 class="text">INFORMACION DEL CLIENTE</h4>
                    </div>
                    <div class="row">
                       <div class="col-lg-4 col-md-6 mt-1">
                            <label ><strong>Rut <small>(sin puntos ni guion)</small></strong></label>
                            <input type="text" class="form-control" formControlName="rut" name="rut" placeholder="Ingresar Rut" required [readonly]="formDisabled">
                            <div *ngIf="companyForm.controls['rut'].invalid && (companyForm.controls['rut'].dirty || companyForm.controls['rut'].touched)" class="invalid-feedback">
                                <div *ngIf="companyForm.controls['rut'].errors.required">
                                    RUT requerido
                                </div>
                                <div *ngIf="companyForm.controls['rut'].errors.invalidRut || companyForm.controls['rut'].errors.requiredLength">
                                    RUT incorrecto
                                </div>
                            </div>   
                        </div>
                        <div class="col-lg-4 col-md-6 mt-1">
                            <label><strong>Nombre fantasía</strong></label>
                            <input type="text" class="form-control" formControlName="commercial_business" name="commercial_business" placeholder="Ingrese Nombre fantasía" [readonly]="formDisabled"  required >
                            <!-- maxlength="6" -->
                            <div *ngIf="companyForm.controls['commercial_business'].invalid && (companyForm.controls['commercial_business'].dirty || companyForm.controls['commercial_business'].touched)" class="invalid-feedback">
                                Nombre fantasía requerido
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-12 mt-1">
                            <label><strong>Razón social</strong></label>
                            <input type="text" class="form-control" name="company_name" formControlName='company_name' placeholder="Ingrese Razón Social" [readonly]="formDisabled" required>
                            <div *ngIf="companyForm.controls['company_name'].invalid && (companyForm.controls['company_name'].dirty || companyForm.controls['company_name'].touched)" class="invalid-feedback">
                                Razón social requerida
                            </div>                             
                        </div>
                        <div class="col-lg-6 col-md-12 mt-1">
                            <label><strong>Dirección</strong></label>
                            <input type="text" class="form-control" formControlName="address" #addressSearch name="address" placeholder="Ingrese Dirección" [readonly]="formDisabled" required>
                            <div *ngIf="companyForm.controls['address'].invalid && (companyForm.controls['address'].dirty || companyForm.controls['address'].touched)" class="invalid-feedback">
                                Dirección requerida
                            </div> 
                        </div>
                        <div class="col-lg-3 col-md-6 mt-1">
                            <label><strong>Dpto/Oficina/Referencia</strong></label>
                            <input formControlName='address_number' placeholder="Ingrese Dpto/Oficina/Referencia" name='address_number' type="text" class="form-control" >
                        </div>
                        <div class="col-lg-3 col-md-6 mt-1">
                            <label><strong>Teléfono</strong></label>
                            <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="56 xx xxxx xxxx" [readonly]="formDisabled" mask chileanMask mask chileanMask required>
                            <div *ngIf="companyForm.controls['phone'].invalid && (companyForm.controls['phone'].dirty || companyForm.controls['phone'].touched)" class="invalid-feedback">
                                El Teléfono es requerido
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-1">
                            <label ><strong>Nombre contacto</strong></label>
                            <input type="text" class="form-control" formControlName="contact_first_name" name="contact_first_name" placeholder="Ingrese Nombre contacto" [readonly]="formDisabled" required>
                        </div>
                        <div *ngIf="companyForm.controls['contact_first_name'].invalid && (companyForm.controls['contact_first_name'].dirty || companyForm.controls['contact_first_name'].touched)" class="invalid-feedback">
                            Nombre contacto requerido
                        </div>
                        <div class="col-lg-4 col-md-6 mt-1">
                            <label><strong>Apellido</strong></label>
                            <input type="text" class="form-control" formControlName="contact_last_name" name="contact_last_name" placeholder="Ingrese Apellido" [readonly]="formDisabled"  required>
                            <div *ngIf="companyForm.controls['contact_last_name'].invalid && (companyForm.controls['contact_last_name'].dirty || companyForm.controls['contact_last_name'].touched)" class="invalid-feedback">
                                Apellido requerido
                            </div> 
                        </div>
                        <div class="col-lg-4 col-md-6 mt-1">
                            <label><strong>E-mail</strong></label>
                            <input type="email" class="form-control" formControlName="contact_email" name="contact_email" placeholder="Ingrese Email" [readonly]="formDisabled" required>
                            <div *ngIf="companyForm.controls['contact_email'].invalid && (companyForm.controls['contact_email'].dirty || companyForm.controls['contact_email'].touched)" class="invalid-feedback">
                                E-mail invalido
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center titulo">
                        <h4 class="">INFORMACION DE FACTURACIÓN</h4>
                        <!-- {{companyForm.value.billing_contacts | json }} -->
                    </div> 
                    <span class="d-flex align-items-center justify-content-between">
                        <h5 class="m-0">Contactos de facturación <small>(3 máximo)</small></h5>
                        <button type="button" [disabled]="formDisabled" class="btn btn-success btn-sm text-light" (click)="addBillingInfo()"><i class="fas fa-plus"></i></button>
                    </span>
                    
                    <div #ContentAdrres formArrayName="billing_contacts" *ngFor="let contact of billing_contacts.controls; let i=index">
                        <div class="row" [formGroupName]="i">  
                            <br> 
                            <div class="col-lg-3 col-md-6">
                                <label><strong>Contacto cobranza</strong></label>
                                <input type="text" class="form-control" placeholder="Ingrese Contacto cobranza" formControlName="name" name="name" [readonly]="formDisabled" required>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label ><strong>Correo</strong></label>
                                <input type="text" class="form-control" formControlName="email" name="email" placeholder="Ingrese Correo"  [readonly]="formDisabled" required>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label><strong>Teléfono</strong></label>
                                <input type="text" class="form-control" placeholder="56 xx xxxx xxxx" formControlName="phone" mask chileanMask name="phone" [readonly]="formDisabled" required>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <label><strong>Dirección de Facturación</strong></label>
                                <input appFichaAdres type="text" class="form-control" formControlName="address" name="address" placeholder="Ingrese Dirección" 
                                [readonly]="formDisabled" required>
                                
                                <!-- <input #addressSearch2  valueDirective="{{companyForm.value.billing_contacts[i].address}}" appFichaAdres  type="text" class="form-control" formControlName="address" name="address" placeholder="Ingrese Dirección" [readonly]="formDisabled" required> -->
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="text-center titulo">
                        <h4 >INFORMACION ADICIONAL SERVICIOS</h4>
                    </div>
                    <span class="d-flex align-items-center justify-content-between">
                        <h5 class="m-0">Información adicional para solicitud de servicios <small>(4 máximo)</small></h5>
                        <button type="button" [disabled]="formDisabled" class="btn btn-success btn-sm text-light" (click)="addExtraField()"><i class="fas fa-plus"></i></button>
                    </span>
                    <div class="row">
                        <div formArrayName="extra_fields" class="col-md-6" *ngFor="let field of extra_fields.controls; let i=index">
                            <div class="card-extra">
                                <button class="btn btn-danger btn-remove" type="button" (click)="removeExtraField(i)" [disabled]="formDisabled">
                                    <i class="fa fa-times"></i>
                                </button>
                                <div class="row" [formGroupName]="i">
                                    <div class="col-sm-6">
                                        <label><strong>Tipo</strong></label>
                                        <select class="form-control" formControlName="type" name="type" required>
                                            <option [disabled]="formDisabled" value="text">Texto</option>
                                            <option [disabled]="formDisabled" value="number">Número</option>
                                            <option [disabled]="formDisabled" value="date">Fecha</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label><strong>Nombre</strong></label>
                                        <input type="text" class="form-control" placeholder="Ingrese Nombre" formControlName="name" name="name" [readonly]="formDisabled" maxlength="30" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center titulo mt-2">
                        <h4 class="">SERVICIOS</h4>
                        
                    </div> 
                    <table class="tablesaw table-bordered table-hover table tablesaw-sortable tablesaw-swipe w-100" >
                        <thead>
                            <tr>
                                <th class="border tablesaw-sortable-head tablesaw-swipe-cellpersist tablesaw-swipe-cellhidden" >
                                </th>
                                <th colspan="2" class="text-center" *ngFor="let service of services">
                                    {{service.id}} -{{service.name}}
                                </th>
                                <!-- <th colspan="2" class="text-center" >Am/Pm</th>
                                <th colspan="2" class="text-center" >Día hábil siguiente</th>
                                <th colspan="2" class="text-center" >4 horas</th> -->
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th>TRAMO</th>
                                <ng-container *ngFor="let service of services">
                                    <th class="text-center">Sin retorno</th>
                                    <th class="text-center">Con retorno</th>
                                </ng-container>
                                <!-- <th>Con retorno</th>
                                <th>Sin retorno</th>
                                <th>Con retorno</th>
                                <th>Sin retorno</th> -->
                                <th>Cant. Servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr formArrayName="file_pricings" *ngFor="let segment of segments; let i=index">
                                <!-- <ng-container [formGroupName]="i"> -->
                                    <td>{{ segment.name }}<br> <small>({{ segment.min_weight }} a {{ segment.max_weight }} Kg)</small></td>
                                    <ng-container *ngFor="let service of services; let j=index; let isLast=last" [formGroupName]="getCurrentIndex(i,j)">
                                        <input formControlName="segment" type="hidden">
                                        <input formControlName="service" type="hidden">
                                        <td>
                                            <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: '0' }" type="text" max="2147483647" formControlName="no_return" class="form-control form-control-sm content-center" placeholder="" [readonly]="formDisabled" required>
                                        </td>
                                        <td>
                                            <input currencyMask [options]="{ prefix: '$ ', thousands: '.', precision: '0' }"  max="2147483647"  type="text" formControlName="with_return" class="form-control form-control-sm" placeholder="" [readonly]="formDisabled" required>
                                        </td>
                                        <td *ngIf="isLast">
                                            <input  type="text" formControlName="min_quantity" class="form-control form-control-sm" placeholder="" maxlength="5" [readonly]="formDisabled" required>
                                        </td>
                                    </ng-container>
                                <!-- </ng-container> -->
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between"> 
                        <ng-container *ngIf="hasApprovement && hasSave">
                            <button type="button" class="btn btn-success text-white" [disabled]="!companyForm.valid || formDisabled || isLoading" (click)="generate()">Generar</button>
                        </ng-container>
                        <ng-container *ngIf="hasApprovement && !hasSave">
                            <button type="button" class="btn btn-success text-white" [disabled]="isLoading || isCompleted" (click)="sendStatus('accepted')">Aprobar</button>
                            <button type="button" class="btn btn-danger" [disabled]="isLoading || isCompleted" (click)="sendStatus('rejected')">Rechazar</button>
                            <button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid || formDisabled || isLoading" >Guardar</button>
                        </ng-container>

                        <ng-container *ngIf="hasSave && !hasApprovement">
                            <button type="submit" class="btn btn-primary" [disabled]="!companyForm.valid || formDisabled || isLoading" >Guardar</button>
                            
                            <!-- <ng-container *ngIf="buttonSaveSent"> -->
                                <button type="button" class="btn btn-info" [disabled]="formDisabled || !companyForm.valid || isLoading" (click)="sendToApprove()">Guardar enviar</button>
                            <!-- </ng-container> -->
                                
                            <button *ngIf="disableStatus" [disabled]="companyForm.value.status=='sent' || isLoading" type="button" class="btn btn-danger"  (click)="deleteFile()" >Elminar ficha</button>
                        </ng-container>
                    </div>
                </form>
              </div>
            </div>
        </div>
      </div>
      <ng-template #contentModal let-modal>
        <div class="modal-header" >
          <h4 class="modal-title" id="modal-basic-title">Datos ingresados correctamente <i class="text-success

            far fa-check-circle"></i></h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <h5><strong>Información Principal</strong></h5>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <label ><strong>Nombre fantasía :</strong></label>
                        <br>
                        <label>{{Dataform.commercial_business}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label ><strong>Razón social :</strong></label>
                        <br>
                        <label>{{Dataform.company_name}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label ><strong>Rut :</strong></label>
                        <br>
                        <label>{{Dataform.rut}}</label>
                    </div>
                    <div class="col-lg-6">
                        <label ><strong>Contacto :</strong></label>
                        <br>
                        <label>{{Dataform.contact_first_name}} {{Dataform.contact_last_name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>
      
      