<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Solicitud de OT</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                   <div *ngIf="id; then thenBlock else elseBlock"></div>
                   <ng-template #thenBlock><li class="breadcrumb-item active"><a routerLink="../../wolist" >Listado OT</a></li></ng-template>
                    <ng-template #elseBlock><li class="breadcrumb-item active"><a routerLink="../../wolist" >Listado OT</a></li></ng-template>
                    <li class="breadcrumb-item active">Solicitud de OT</li>
                </ol>
            </div>
            <div class="action-buttons">
                <a *ngIf="!isUpdate && !formDisabled" class="btn btn-success text-white" [routerLink]="['./bulk']" title="Carga Masiva"><i class="fas fa-truck-loading"></i></a>
            </div>
        </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="d-flex justify-content-between">
                  <img src="./../../../../assets/images/LogoConexxion.png">
                  <h4 class="card-title text-right"><strong>{{codBarra}}</strong></h4>
              </div>
             <div class="text-center mb-4">
                <h3 class="card-title"><strong>Solicitud de OT</strong></h3>
            </div>
            <div class="row" *ngIf="isElevated">
                <div class="col-sm-3">
                    <h4 class="card-title"><strong>Empresa</strong></h4>
                </div>
                <div class="col-sm-9">
                    <ngx-select
                        [items]="companies | async"
                        [allowClear]="true"
                        [(ngModel)]="selectedCompany"
                        placeholder="Seleccione..."
                        optionTextField="name"
                        (ngModelChange)="updateExtraFields()"
                    >
                    </ngx-select>
                </div>
            </div>
            <form [formGroup]="formOT" (ngSubmit)="SaveOt()" >
                <div class="text">
                    <h5 class="card-title"><strong>Dirección de origen</strong></h5>
                    <h5 class="card-title">Completa los cambos de origen de OT</h5>
                </div>
                <br>
                <div class="row">
                    <!-- {{formOT.value | json}} -->
                    <div class="col-4">
                        <label><strong>Remitente</strong></label>
                        <ng-template [ngIf]="isUpdate">
                            <input   type="text" formControlName="sender_full_name" class="form-control" name="sender_full_name" placeholder="Ingresar nombre completo" [readonly]="formDisabled" >
                        </ng-template>

                        <ng-template [ngIf]="!isUpdate">
                            <ng-template [ngIf]="formDisabled || isElevated">
                                <input   type="text" formControlName="sender_full_name" class="form-control" name="sender_full_name" placeholder="Ingresar nombre completo" [readonly]="formDisabled" >
                            </ng-template> 
                            <ng-template [ngIf]="!formDisabled && !isElevated">
                            <!-- <input type="hidden" formControlName="sender_full_name" /> -->
                                <div class="ng-autocomplete" >
                                    <ng-autocomplete 
                                        type="text"
                                        [data]="contacts"
                                        searchKeyword="full_name"
                                        placeHolder="Ingresar nombre completo"
                                        (selected)='selectEvent($event)'
                                        (inputChanged)='onChangeSearch($event)'
                                        [itemTemplate]="itemTemplate"
                                        [debounceTime] = "300"
                                        [notFoundTemplate]="notFoundTemplate"
                                        formControlName="sender_full_name"
                                        >
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-item>
                                    <a  [innerHTML]="item.full_name"></a>
                                    </ng-template>
                                    <ng-template #notFoundTemplate let-notFound>
                                    <div>No hay contactos para mostrar</div>
                                    </ng-template>
                                </div>
                            </ng-template>
                        </ng-template>
                        <div class="invalid-feedback" *ngIf="formOT.controls['sender_full_name'].invalid && (formOT.controls['sender_full_name'].dirty || formOT.controls['sender_full_name'].touched)">
                            Remitente requerido
                        </div> 
                    </div>
                    <div class="col-4">
                        <label><strong>E-mail</strong></label>
                        <input type="email" class="form-control" formControlName="sender_email" name="sender_email"  placeholder="Ingresar e-mail" [readonly]="formDisabled">
                            <div *ngIf="formOT.controls['sender_email'].invalid && (formOT.controls['sender_email'].dirty || formOT.controls['sender_email'].touched)" 
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['sender_email'].errors.required">
                                    E-mail requerido
                                </div>
                                <div *ngIf="formOT.controls['sender_email'].errors.email">
                                    Formato incorrecto
                                </div>
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Rut (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="sender_rut"  name="sender_rut" placeholder="(sin puntos ni guiones)" [readonly]="formDisabled">
                            <div *ngIf="formOT.controls['sender_rut'].invalid && (formOT.controls['sender_rut'].dirty || formOT.controls['sender_rut'].touched)"
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['sender_rut'].errors.required">
                                    RUT requerido
                                </div>
                                <div *ngIf="formOT.controls['sender_rut'].errors.invalidRut || formOT.controls['sender_rut'].errors.requiredLength">
                                    RUT incorrecto
                                </div>
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Teléfono</strong></label>
                        <!-- <input type="text" class="form-control" formControlName="sender_phone" name="sender_phone" placeholder="56 xx xxxx xxxx"   > -->
                        
                        <input type="text" class="form-control" placeholder="56 xx xxxx xxxx" name="sender_phone" formControlName="sender_phone" mask chileanMask [validation]="false"  required  [readonly]="formDisabled">
                        
                        <!-- <input type="number" class="form-control" formControlName="sender_phone" name="sender_phone" placeholder="56 xx xxxx xxxx" mask chileanMask [validation]="false" > -->
                        <div  class="invalid-feedback" *ngIf="formOT.controls['sender_phone'].invalid && formOT.controls['sender_phone'].dirty || formOT.controls['sender_phone'].touched">
                            Teléfono requerido
                        </div> 
                    </div>
                    <div class="col-4">
                        <label><strong>Dirección</strong></label>
                        <input #addressSearch type="text" class="form-control" formControlName="sender_address" name="sender_address" placeholder="Ingresar dirección" [readonly]="formDisabled">
                        <div  class="invalid-feedback" *ngIf="formOT.controls['sender_address'].invalid && formOT.controls['sender_address'].dirty || formOT.controls['sender_address'].touched">
                            Dirección requerida
                        </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Comuna</strong></label>
                        <input type="text" class="form-control" formControlName="sender_comune" name="sender_comune" placeholder="Ingresar Comuna" readonly="true"  >
                            <div class="invalid-feedback" *ngIf="formOT.controls['sender_comune'].invalid && formOT.controls['sender_comune'].dirty || formOT.controls['sender_comune'].touched">
                                Comuna requerida
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Región</strong></label>
                        <input type="text" class="form-control" formControlName="sender_region"  name="sender_region" placeholder="Ingresar región" readonly="true" >
                            <div class="invalid-feedback" *ngIf="formOT.controls['sender_region'].invalid && formOT.controls['sender_region'].dirty || formOT.controls['sender_region'].touched">
                                Región requerida
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Dpto/ oficina</strong></label>
                        <input type="text" class="form-control" formControlName="sender_address_number" name="sender_address_number" placeholder="Ingresar Dpto/ oficina" [readonly]="formDisabled">
                            <!-- <div class="invalid-feedback" *ngIf="formOT.controls['sender_address_number'].invalid && formOT.controls['sender_address_number'].dirty || formOT.controls['sender_address_number'].touched">
                                Campo requerido
                            </div> -->
                    </div>
                    <!-- <div class="col-6">
                        <label><strong>Comentario (opcional)</strong></label>
                        <input type="text" class="form-control"  name="sender_extra_info" placeholder="Ingresar comentario">
                    </div> -->
                </div>
                <br>
                <hr>
                <div class="text">
                    <h5 class="card-title"><strong>Dirección de destino</strong></h5>
                    <h5 class="card-title">Completa los campos del destino de OT</h5>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Destinatario</strong></label>

                        <ng-template [ngIf]="isUpdate">
                            <input   type="text" formControlName="receiver_full_name" class="form-control" name="receiver_full_name" placeholder="Ingresar nombre completo" [readonly]="formDisabled" >
                        </ng-template>
                        
                        <ng-template [ngIf]="!isUpdate">
                            <ng-template [ngIf]="formDisabled || isElevated">
                                <input   type="text" formControlName="receiver_full_name" class="form-control" name="receiver_full_name" placeholder="Ingresar nombre completo" [readonly]="formDisabled" >
                            </ng-template> 
                            <ng-template [ngIf]="!formDisabled && !isElevated">
                            <!-- <input type="hidden" formControlName="receiver_full_name" /> -->
                                <div class="ng-autocomplete" >
                                    <ng-autocomplete 
                                        type="text"
                                        [data]="contacts"
                                        searchKeyword="full_name"
                                        placeHolder="Ingresar nombre completo"
                                        (selected)='selectEventReceiver($event)'
                                        (inputChanged)='onChangeSearchReceiver($event)'
                                        [itemTemplate]="itemTemplate"
                                        [debounceTime] = "300"
                                        [notFoundTemplate]="notFoundTemplate"
                                        formControlName="receiver_full_name"
                                        >
                                    </ng-autocomplete>
                                    <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.full_name"></a>
                                    </ng-template>
                                    <ng-template #notFoundTemplate let-notFound>
                                    <div>No hay contactos para mostrar</div>
                                    </ng-template>
                                </div>
                            </ng-template>
                        </ng-template>
                        
                        <div class="invalid-feedback" *ngIf="formOT.controls['receiver_full_name'].invalid && (formOT.controls['receiver_full_name'].dirty || formOT.controls['receiver_full_name'].touched)">
                            Destinatario requerido
                        </div> 
                        <!-- <input type="text" class="form-control" formControlName="receiver_full_name"   name="receiver_full_name" placeholder="Ingresar nombre completo"> -->
                          
                    </div>
                    <div class="col-4">
                        <label><strong>E-mail</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_email" name="receiver_email" placeholder="Ingresar e-mail" [readonly]="formDisabled">
                        <div *ngIf="formOT.controls['receiver_email'].invalid && (formOT.controls['receiver_email'].dirty || formOT.controls['receiver_email'].touched)" 
                        class="invalid-feedback">
                            <div *ngIf="formOT.controls['receiver_email'].errors.required">
                                E-mail requerido
                            </div>
                            <div *ngIf="formOT.controls['receiver_email'].errors.email">
                                Formato incorrecto
                            </div>
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Rut (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_rut" name="receiver_rut" placeholder="(sin puntos ni guiones)" [readonly]="formDisabled">
                        <div *ngIf="formOT.controls['receiver_rut'].invalid && (formOT.controls['receiver_rut'].dirty || formOT.controls['receiver_rut'].touched)"
                            class="invalid-feedback">
                                <div *ngIf="formOT.controls['receiver_rut'].errors.required">
                                    Rut requerido
                                </div>
                                <div *ngIf="formOT.controls['receiver_rut'].errors.invalidRut || formOT.controls['receiver_rut'].errors.requiredLength">
                                    Rut incorrecto
                                </div>
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Teléfono</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_phone" name="receiver_phone" placeholder="Ingresar teléfono" mask chileanMask [validation]="false" [readonly]="formDisabled">
                            <div *ngIf="formOT.controls['receiver_phone'].invalid && (formOT.controls['receiver_phone'].dirty || formOT.controls['receiver_phone'].touched)" 
                            class="invalid-feedback">
                                Teléfono requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Dirección</strong></label>
                        <input #addressSearch2 type="text" class="form-control"  formControlName="receiver_address" name="receiver_address" placeholder="Ingresar dirección" [readonly]="formDisabled">
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_address'].invalid && formOT.controls['receiver_address'].dirty || formOT.controls['receiver_address'].touched">
                                Dirección requerida
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Comuna</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_comune"  name="receiver_comune" placeholder="Ingresar Comuna" readonly="true" >
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_comune'].invalid && formOT.controls['receiver_comune'].dirty || formOT.controls['receiver_comune'].touched">
                                Comuna requerido
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <label><strong>Región</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_region" name="receiver_region" placeholder="Ingresar región" readonly="true" >
                            <div  class="invalid-feedback" *ngIf="formOT.controls['receiver_region'].invalid && formOT.controls['receiver_region'].dirty || formOT.controls['receiver_region'].touched">
                                Región requerida
                            </div>
                    </div>
                    <div class="col-3">
                        <label><strong>Dpto/ oficina</strong></label>
                        <input type="text" class="form-control" formControlName="receiver_address_number" name="receiver_address_number" placeholder="Ingresar Dpto/ oficina" [readonly]="formDisabled">
                    </div>
                    <div class="col-6">
                        <label><strong>Comentario (opcional)</strong></label>
                        <input type="text" class="form-control" formControlName="sender_extra_info" name="sender_extra_info" placeholder="Ingresar Comentario" [readonly]="formDisabled">
                    </div>
                </div>
                <hr>
                
                <div class="text">
                    <h5 class="card-title"><strong>Detalle OT</strong></h5>
                    <h5 class="card-title">Completa los campo con el detalle de producto</h5>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Retorno</strong></label>
                        <select class="form-control"  name="has_return"  formControlName="has_return">
                            <option [disabled]="formDisabled" value="with_return"  >Con retorno</option>
                            <option [disabled]="formDisabled" value="no_return">Sin retorno</option>
                          </select>
                    </div>
                    <!-- <div class="col-4">
                        <label><strong>Alto (cm)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text" class="form-control" formControlName="height"  name="height" placeholder="Ingresar alto"  [readonly]="formDisabled">
                            <div  class="invalid-feedback" *ngIf="formOT.controls['height'].invalid && formOT.controls['height'].dirty || formOT.controls['height'].touched">
                                Alto requerido
                            </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Ancho (cm)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  class="form-control" formControlName="width"  name="width" placeholder="Ingresar ancho" [readonly]="formDisabled">
                            <div class="invalid-feedback" *ngIf="formOT.controls['width'].invalid && formOT.controls['width'].dirty || formOT.controls['width'].touched">
                                Ancho requerido
                            </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Largo (cm)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', precision: '0 ' }" min="0" max="9000000" type="text"  class="form-control" formControlName="depth" name="depth" placeholder="Ingresar largo" [readonly]="formDisabled">
                            <div class="invalid-feedback" *ngIf="formOT.controls['depth'].invalid && formOT.controls['depth'].dirty || formOT.controls['depth'].touched">
                                Largo requerido
                            </div>
                    </div> -->
                    <div class="col-4">
                        <!-- <label><strong>Peso (kg)</strong></label>
                        <input currencyMask [options]="{ prefix: '', thousands: '.', decimal:',', precision: '1' }" min="0" max="9000000" type="text" class="form-control" formControlName="weight" name="weight" placeholder="Ingresar Peso" [readonly]="formDisabled"> -->
                        <label><strong>Tramo</strong></label>
                        <select class="form-control" formControlName="segment" name="segment">
                            <!-- <option value="">Seleccione...</option> -->
                            <option value="{{segment.id}}"  *ngFor="let segment of listaTramos">{{segment.name}}</option>
                            <!-- <option value="{{(segment.prom)}}" *ngFor="let segment of listaTramos | async">{{segment.name}}</option> -->
                        </select>
                        <div class="invalid-feedback" *ngIf="formOT.controls['weight'].invalid && formOT.controls['weight'].dirty || formOT.controls['weight'].touched">
                            Tramo requerido
                        </div>
                    </div>
                    <div class="col-4">
                        <label><strong>Producto</strong></label>
                        <select class="form-control"  name="product"  formControlName="product">
                            <option [disabled]="formDisabled" *ngFor="let item of listaProducts" value="{{item.id}}" >{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label><strong>Servicio</strong></label>
                        <select class="form-control"  name="service"  formControlName="service">
                            
                        <option [disabled]="formDisabled" *ngFor="let item of listService" value="{{item.id}}" >{{item.name}}</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <label><strong>Tipo notificación</strong></label>
                        <select class="form-control"  name="notification_type"  formControlName="notification_type">
                            <option [disabled]="formDisabled" value="none">Ninguna</option>
                            <option [disabled]="formDisabled" value="sender">Remitente</option>
                            <option [disabled]="formDisabled" value="receiver">Destinatario</option>
                            <option [disabled]="formDisabled"  value="both">Ambos</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <label><strong>Descripción de producto (Opcional)</strong></label>
                        <input type="text" class="form-control"  name="weight" formControlName="product_description" placeholder="Ingresar Descripción" [readonly]="formDisabled">
                    </div>
                </div>
                <div class="text" *ngIf="extra_fieldsJson.length >= 1">
                    <hr>
                    <h5 class="card-title"><strong>Información adicional de servicios (Opcional)</strong></h5>
                </div>
                <div class="row">
                    <div formArrayName="extra_fields" class="col-md-4" *ngFor="let field of extra_fieldsJson">
                        <div class="row" >
                            <div class="col-sm-12">
                                <label><strong>{{field.name | titlecase}}</strong></label>
                                <input  formControlName="{{field.name}}" type="{{field.type}}" class="form-control" placeholder="Ingrese {{field.name}}"  name="{{field.name}}" [readonly]="formDisabled" maxlength="30" >
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row d-flex flex-row-reverse"> 
                    <div class="col-2">
                        <button type="submit" [disabled]="!formOT.valid || formDisabled" class="btn btn-sm btn-success text-white" >Guardar</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
  </div>
  