hr{
    background-color: #62b143;
}


// .ng-complete .input-container input{
//     box-shadow: 0em 0em 0em 4px white;
// }

select2 {
    // box-shadow: 0em 0em 0em 4px white;
    // display: block;
    // width: 100%;
    // padding: 0.375rem 0.75rem;
    // font-size: 0.9rem;
    // line-height: 1.5;
    // color: #4F5467;
    // background-color: #fff;
    // background-clip: padding-box;
    // border: 1px solid #ced4da;
    // border-radius: 2px;
    // transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

//  ng-valid {
// .ng-autocomplete {
    // background-color: red;
    // width: 70px;
//     background-color: blue;

//     box-shadow: 0em 0em 0em 4px white;
// }
.page-breadcrumb{
  position: relative;
  .action-buttons{
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}