<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Servicios</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <h5 class="card-title"><strong>Empresa</strong></h5>
                    </div>
                    <div class="col-sm-9">
                        <form [formGroup]="companiesFilters">
                            <ngx-select
                                [items]="companies | async"
                                formControlName="company"
                                [allowClear]="true"
                                placeholder="Ninguna (precios por defecto)"
                                optionTextField="name"
                                (typed)="searchTerm.next($event)"
                                [searchCallback]="search"
                            >
                            </ngx-select>
                        </form>
                    </div>
                </div>
                <table #servicesTable datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>