<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Razón de fallido</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Listado</a>
                    <li class="breadcrumb-item active">Razón de fallido</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <h4 class="card-title"><strong>Razón de fallido</strong></h4>
                </div>
                <!-- {{reasonForm.value | json}} -->
                <form [formGroup]="reasonForm" class="mt-1" (ngSubmit)="saveOrCreate()">
                    <div class="row">
                        <div class="col-md-8 mt-1">
                            <label><strong>Razón</strong></label>
                            <input type="text" class="form-control" formControlName="reason" name="reason"
                                placeholder="Ingrese Razón" autocomplete="off" maxlength="20" required>
                            <div *ngIf="reasonForm.controls['reason'].invalid && (reasonForm.controls['reason'].dirty || reasonForm.controls['reason'].touched)"
                                class="invalid-feedback">
                                Razón requerida
                            </div>
                        </div>
                        <div class="col-md-4 mt-1">
                            <label><strong>Predeterminada</strong></label>
                            <select class="form-control" name="default" formControlName="default" required>
                                <option value="yes">Si</option>
                                <option value="no">No</option>
                            </select>
                            <div *ngIf="reasonForm.controls['default'].invalid && (reasonForm.controls['default'].dirty || reasonForm.controls['default'].touched)"
                                class="invalid-feedback">
                                Disponibiblida requerida
                            </div>
                        </div>
                        <div class="col-md-12 mt-1">
                            <label><strong>Empresas</strong></label>
                            <ngx-select
                                    [items]="companies | async"
                                    [multiple]="true"
                                    formControlName="failed_reason_rel_reason"
                                    [allowClear]="true"
                                    placeholder="Seleccione Empresas"
                                    optionTextField="name"
                                >
                            </ngx-select>
                        </div>
                    </div>
                    <div class="row d-flex flex-row-reverse mt-2">
                        <div class="col-2">
                            <button class="btn btn-block btn-sm btn-success text-white"
                                [disabled]="!reasonForm.valid || isLoading" type="submit">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>