
<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Listado de fichas</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Listado</li>
                </ol>
            </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table #listadoTable datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                  <thead>
                    <tr>
                      <th>contact_last_name</th>
                      <th>contact_last_name</th>
                      <th>contact_email</th>
                      <th>commercial_business</th>
                      <th>company_name</th>
                      <th>rut</th>
                      <th>address</th>
                      <th>contact_first_name</th>
                    </tr>
                  </thead>
                  <tbody >
                  </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  
  <ng-template #contentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Historial</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <!-- <div *ngFor="let item of people">
        <div class="row" >
          <div class="col-sm-4">
            <label>Fecha</label>
            <input type="text"  [(ngModel)]="item.name" class="form-control form-control-sm" placeholder="Nombre" name="stamp" disabled>
          </div>
          <div class="col-sm-4">
            <label>Nombre </label>
            <input type="text" [(ngModel)]="item.name1"  class="form-control form-control-sm"  name="first_name" disabled>
          </div>
          <div class="col-sm-4">
            <label>Apellido </label> 
            <input type="text" [(ngModel)]="item.name2" class="form-control form-control-sm"  name="last_name" disabled>
          </div>
        </div>
        <br>
      </div> -->
      <div class="row" >
        <div class="col-sm-3">
          <label>Fecha</label>
        </div>
        <div class="col-sm-3">
          <label>Nombre </label>
        </div>
        <div class="col-sm-3">
          <label>Apellido </label> 
        </div>
        <div class="col-sm-3">
          <label>Estado </label> 
        </div>
      </div>
      
      <div *ngFor="let item of datoModal.log">
        <div class="row" >
          <div class="col-sm-3">
            <input type="text"  [(ngModel)]="item.stamp" class="form-control form-control-sm" placeholder="Nombre" name="stamp" disabled>
          </div>
          <div class="col-sm-3">
            <input type="text" [(ngModel)]="item.user.first_name"  class="form-control form-control-sm"  name="first_name" disabled>
          </div>
          <div class="col-sm-3">
           <input type="text" [(ngModel)]="item.user.last_name" class="form-control form-control-sm"  name="last_name" disabled>
          </div>
          <div class="col-sm-3">
            <input type="text" [(ngModel)]="item.status" class="form-control form-control-sm"  name="last_name" disabled>
           </div>
        </div>
        <br>
      </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Guardar</button> -->
        <!-- <button type="submit" class="btn btn-outline-dark">Guardar</button> -->
    </div>

  
</ng-template>