<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Sucursales</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active" ><a routerLink="../../companies" >Empresas</a></li>
                    <li class="breadcrumb-item active">Sucursales</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">  
        <div class="card-body">
        <form class="form-horizontal" ngNativeValidate >
            <h5 class="card-title"><strong>Detalle Empresa </strong></h5>   
            <div class="row">
                <div class="col-sm-4">
                    <label>Razón Social:</label>
                    <input type="text"  class="form-control form-control-sm" placeholder="Nombre" name="name" value="{{editListCompany.name}}" disabled>
                </div>
                <div class="col-sm-4">
                    <label>Rut:</label>
                    <input type="text" value="{{editListCompany.rut}}" class="form-control form-control-sm" placeholder="Rut" disabled>
                </div>
                <div class="col-sm-4">
                    <label>F. inicio de Servicio:</label>
                    <input type="text" value="{{editListCompany.created_at}}" class="form-control form-control-sm" placeholder="Inicio de Servicio" disabled>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label>Teléfono:</label>
                    <input type="text"  class="form-control form-control-sm" placeholder="Teléfono" name="Telefono" value="{{editListCompany.phone}}" disabled>
                </div>
                <div class="col-sm-4">
                    <label>E-mail:</label>
                    <input type="text" value="{{editListCompany.email}}" class="form-control form-control-sm" placeholder="E-mail" disabled>
                </div>
                <div class="col-sm-4">
                    <label>Contacto:</label>
                    <input type="text" value="{{editListCompany.contact_name}}" class="form-control form-control-sm" placeholder="Contacto" disabled>
                </div>
            </div>
            <br>
            <h5 class="card-title"><strong>Ejecutivo comercial</strong></h5> 
            <div class="row">
                <div class="col-sm-4">
                    <label>Nombre:</label>
                    <input type="text"  class="form-control form-control-sm" placeholder="Nombre" name="name" value="{{editListCompany.trader.first_name}}" disabled>
                </div>
                <div class="col-sm-4">
                    <label>E-mail:</label>
                    <input type="text" value="{{editListCompany.trader.email}}" class="form-control form-control-sm" placeholder="E-mail" disabled>
                </div>
                <div class="col-sm-3">
                    <label>Teléfono:</label>
                    <input type="text"  value="{{editListCompany.trader.phone}}" class="form-control form-control-sm" placeholder="Teléfono" disabled>
                </div>
                <div class="col-sm-1 d-flex">
                    <a title="Editar Empresa" class="btn btn-sm btn-outline-primary align-self-end" 
                        routerLink="./change">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                </div>
            </div>
            <br>
        </form> 
            <h5 class="card-title"><strong>Lista Sucursales</strong> </h5>
            <div class="row d-flex flex-row-reverse">  
                <div class="col-2">
                    <br>
                </div>
            </div>      
            <table #branchesTable datatable class="row-border hover w-100" [dtOptions]="dtOptions">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Comuna</th>     
                        <th>Region</th>
                        <th>Editar</th>
                        <th>Nuevo Usuario</th>
                    </tr>
                    </thead>
                    <tbody >
                    </tbody>
            </table>
        </div> 
    </div>
</div>