@import "../../../assets/scss/variable";
.tracking-timeline{
    margin-top: 5.5em;
    display: flex;
    justify-content: center;
    .segment{
        display: flex;
        align-items: center;
        position: relative;
        width: 120px;
        .dot{
            cursor: pointer;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 5px #a1aab2 solid;
            background-color: white;
            z-index: 5;
        }
        .line{
            height: 2px;
            width: 100%;
            position: absolute;
            background-color: $gray-500;
            top: 50%;
            z-index: 2;
        }
        &.active{
            .dot{
                width: 25px;
                height: 25px;
                border: 8px $conex-blue solid;
            }
        }
        &.completed{
            .dot{
                border: 5px $conex-blue solid;
            }
            .line{
                background-color: $conex-blue;
            }
        }
        &:last-child{
            // .dot:last-child{
            //     position: absolute;
            //     right: -15px;
            // }
            &.completed{
                .dot:last-child{
                    width: 25px;
                    height: 25px;
                    border: 8px $conex-blue solid;
                }
            }
        }
        .box{
            width: 110px;
            height: 50px;
            position: absolute;
            background-color: $conex-blue;
            top: -60px;
            transform: translate(-46%, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            &::after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -8px;
                left: 50%;
                border-top: 8px solid $conex-blue;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent; 
                transform: translate(-50%, 0);

            }
        }
    }
}
.tracking-history{
    .history{
        .dot{
            cursor: pointer;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            border: 4px #a1aab2 solid;
            background-color: white;
            margin: 0 auto;
        }
        .active{
            color: $conex-blue;
            .dot{
                border: 4px $conex-blue solid;
            }
        }
    }
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
}