<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Seguimiento</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Listado OT</a></li>
                    <li class="breadcrumb-item active">Seguimiento</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="container-fluid" *ngIf="wOInfo">
                    <div>
                        <h5>Detalle  de solicitud</h5>
                        <hr class="mt-1">
                        <h5><b>Empresa:</b> {{wOInfo.company}}</h5>
                        <div class="row no-gutters">
                            <div class="col-sm-4">
                                <div class="row mt-2">
                                    <div class="col-5"><b>Orden N°:</b></div>
                                    <div class="col-7">{{wOInfo.barcode}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-5"><b>Generada el:</b></div>
                                    <div class="col-7">{{wOInfo.created_at}}</div>
                                </div>
                                <div class="row mt-2" *ngIf="canAnnontate">
                                    <div class="col-5"><b>Detalle OT:</b></div>
                                    <div class="col-7">
                                        <a 
                                        class="btn btn-secondary btn-sm px-2"
                                        [routerLink]="['../../solicitudot', wOInfo.id]"
                                        >
                                        <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row mt-2" *ngIf="canAnnontate">
                                    <div class="col-5"><b>Anotaciones:</b></div>
                                    <div class="col-7">
                                        <button type="button" class="btn btn-info btn-sm px-2" (click)="openAnnons(wOInfo.id)">
                                            <i class="fas fa-sticky-note"></i>
                                        </button>
                                    </div>
                                    <br><br><br>
                                    <!-- <div class="row mt-2"> -->
                                        <div class="col-4"><b>Recibido por :</b></div>
                                        <div class="col-8">{{wOInfo.delivered_to_name}}</div>
                                    <!-- </div>  -->
                                    <!-- <div class="row mt-2"> -->
                                        <div class="col-4"><b>Rut  :</b></div>
                                        <div class="col-8">{{wOInfo.delivered_to_rut}}</div>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row mt-2">
                                    <div class="col-4"><b>Servicio:</b></div>
                                    <div class="col-8">{{wOInfo.service_name}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Producto:</b></div>
                                    <div class="col-8">{{wOInfo.product_name}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Tramo :</b></div>
                                    <div class="col-8">{{wOInfo.segment.name}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Retorno:</b></div>
                                    <div class="col-8">{{wOInfo.has_return=='no_return'?"Sin Retorno":"Con Retorno"}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Patente:</b></div>
                                    <div class="col-8">{{dataDelivey?.transport.plate}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Conductor:</b></div>
                                    <div class="col-8">{{dataDelivey?.transporter}}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-4"><b>Origen:</b></div>
                                    <div class="col-8">{{wOInfo.sender_address}}, {{wOInfo.sender_comune}}</div>
                                </div> 

                            </div>
                            <div class="col-sm-4 px-2">
                                <div id="map"></div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="row mt-2">
                                <div class="col-2"><b>Destinatario:</b></div>
                                <div class="col-4">{{wOInfo.receiver_full_name}}</div>
                                <div class="col-2"><b>Teléfono:</b></div>
                                <div class="col-4">{{wOInfo.receiver_phone}}</div>
                                <div class="col-2"><b>Destino:</b></div>
                                <div class="col-10">{{wOInfo.receiver_address}} {{wOInfo.receiver_address_number}}, {{wOInfo.receiver_comune}}</div>
                                <div class="col-2"><b>Comentario:</b></div>
                                <div class="col-10">{{wOInfo.sender_extra_info}}</div>
                                <div class="col-2"><b>Desc. de Producto:</b></div>
                                <div class="col-10">{{wOInfo.product_description}}</div>
                            </div>
                            <div class="row mt-2 no-gutters">
                                <div class="col-sm-4 row" *ngFor="let extra of wOInfo.extra_fields | keyvalue">
                                    <div class="col-sm-4"><b>{{extra.key | titlecase}}:</b></div>
                                    <div class="col-sm-8">{{extra.value}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tracking-timeline" *ngIf="activeSteps.length > 0">
                        <div 
                        class="segment"
                        *ngFor="let item of activeSteps; last as isLast; first as isFirst"
                        [ngClass]="{'completed':item.completed, 'active':item.active}"
                        >
                            <div class="dot" (click)="updateMap(item.id)">
                                <div class="box" *ngIf="item.active || (isLast && item.completed)">
                                    <strong class="text-white">
                                        {{boxMsg}}
                                    </strong>
                                </div>
                            </div>
                            <div class="line" *ngIf="!isLast"></div>
                            <!-- <div class="dot" *ngIf="isLast">
                                <div class="box" *ngIf="item.completed">
                                    <strong class="text-white">
                                        {{isFirst?"Solicitado":isLast?"Entregado":"En camino"}}
                                    </strong>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="mt-3 tracking-history">
                        <h6>Historial de Seguimiento</h6>
                        <hr class="mt-1">
                        <div class="mt-3 history">
                            <div 
                                class="row no-gutters"
                                [ngClass]="{'active':isFirst, 'text-danger':log.voided}"
                                *ngFor="let log of wOInfo.log; first as isFirst; index as i"
                            >
                                <div class="col-1">
                                    <div (click)="updateMap(log.id)" class="dot"></div>
                                </div>
                                <div class="col-2">
                                    {{log.created_at | date:'dd-MM-yyyy HH:mm:ss'}}
                                </div>
                                <div class="col-1">
                                    <button 
                                        *ngIf="log.pictures.length > 0 || log.signature"
                                        class="btn btn-sm"
                                        title="Información estado"
                                        (click)="openDetail(i)"
                                    >
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </div>
                                <div class="col-2">
                                    {{log.step_detail}}
                                    {{log.voided?"(Revertido)":""}}
                                </div>
                                <div class="col-3">
                                    {{log.transporter?log.transporter:log.user}}
                                </div>
                                <div class="col-2 pl-2">
                                    {{log.deliver_info}}
                                </div>
                                <div class="col-1 text-center">
                                    <button
                                    *ngIf="wOInfo.log.length > 1 && canAnnontate && log.is_last"
                                    class="btn btn-sm btn-warning ml-1"
                                    title="Deshacer estado"
                                    (click)="undoState(wOInfo.id)"
                                    [disabled]="isLoading"
                                    >
                                        <i class="fas fa-undo"></i>
                                    </button>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <hr class="mt-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>