hr {
    margin-top: 0rem;
}

.card-body {
    padding: 0.9rem;
}

hr{
    background-color: #62b143;
}

.form-control {
    padding: 0.275rem 0.75rem;
}

.img-container{
    position: relative;
    .frontdrop{
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        &.loader{
            opacity: 0.3;
        }
        &.not-visible{
            transition: opacity 0.4s ease;
            opacity: 0;
        }
        cursor: pointer;
        &:hover{
            opacity: 0.3;
        }
    }
}