@import '../../../../assets/scss/variable.scss';
.signature{
    width: 250px;
}
.picture{
    width: 200px;
}
.card-bordered{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    .card-img-top{
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
        &.cropped{
            height: 250px;
            overflow: hidden;
        }
        &.gray{
            background-color: #eef5f9;
        }
        .img-link{
            &.first{
                .image{
                    border-bottom: 2px solid white;
                    overflow: hidden;
                }
            }
            &.single{
                .image{
                    height: 100%;
                }
            }
            &.dual{
                .image{
                    height: 50%;
                    overflow: hidden;
                }
                &:last-child{
                    .image{
                        border-top: 3px solid white;
                    }
                }
            }
            &.multiple{
                .image{
                    height: 50%;
                    width: 50%;
                    overflow: hidden;
                }
                &:last-child{
                    .image{
                        border-right: 3px solid white;
                    }
                }
            }
        }
        .image{
            position: relative;
            &::after {
                font-family: "Font Awesome 5 Free";
                font-weight:900;
                font-size: 4em;
                color: white;
                content: "\f065";
                transition: opacity 0.3s ease;
                opacity: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover::after{
                background-color: #333;
                opacity: 0.4;
            }
        }
    }
}
.no-print{
    &::after{
        content: "No es posible hacer capturas de pantalla de la firma";
        background-color: $conex-blue;
        z-index: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: white;
    }
}