<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Carga Falabella</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Carga Falabella</li>
                </ol>
            </div>
        </div>
        <div class="action-buttons">
            <a class="btn btn-warning ml-2" [routerLink]="['./print']" title="Impresión por SOC"><i
                    class="fas fa-print"></i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <form class="w-100 d-flex flex-column mx-2" ngNativeValidate (ngSubmit)="beginUpload()">
                    <h4>Archivo Excel</h4>
                    <input type="file" #woFile class="form-control" name="wo_file" required>
                    <br>
                    <div class="d-flex justify-content-between">
                        <button [disabled]="isLoading" class="btn btn-success" type="submit">
                            Cargar&nbsp;<i class="fas fa-circle-notch fa-spin" *ngIf="isLoading"></i>
                        </button>
                        <button type="button" class="btn btn-warning" (click)="printAll()"><i class="fas fa-print"></i> Imprimir Carga</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="upload-results">
                <div class="results mt-3">
                    <h4>
                        Resultado de la carga: 
                        <span 
                            [ngClass]="{
                                'text-danger': uploadResult.type == 'error',
                                'text-success': uploadResult.type == 'success'
                            }"
                        class=""
                        >{{uploadResult.human}}</span>
                    </h4>
                    <ng-container *ngIf="uploadResult.type=='success'">
                        <table class="table table-bordered table-sm w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>Cantidad</h5>
                                    </th>
                                    <th>
                                        <h5>Códigos</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{uploadResult.details.qty}}</td>
                                    <td>{{uploadResult.details.barcodes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="uploadResult.type=='error'">
                        <table class="table table-bordered table-sm w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>Línea</h5>
                                    </th>
                                    <th>
                                        <h5>Detalle</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let msg of uploadResult.details">
                                    <td>
                                        <b>Línea {{msg.row}}:</b>
                                    </td>
                                    <td>
                                        <div *ngFor="let msg of msg.messages">
                                            <b>{{msg.field}}</b> : <span>{{msg.detail}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>