
<div class="col-sm-12 col-lg-12">
  <div class="page-breadcrumb">
      <div class="row page-titles">
          <div class="col-md-6 col-8 align-self-center">
              <h3 class="text-themecolor mb-0 mt-0">Listado OT</h3>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                  <li class="breadcrumb-item active">Listado OT</li>
              </ol>
          </div>
      </div>
      <div class="card">
        <div class="card-body">
          <table #TableListOt datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                <thead>
                  <tr>
                    <th>N° Ot</th>
                    <th>Fecha emisión</th>
                    <th>Nombre Emisor</th>
                    <th>Dirección orige</th>
                    <th>Nombre receptor</th>
                    <th>Dirección destino</th>
                    <th>Último estado</th>
                    <th>Detalle</th>
                    <th>Seguimiento</th>
                  </tr>
                </thead>
                <tbody >
                </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
  