<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Historial manifiestos</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">
                        <a [routerLink]="['../']">Generar manifiesto de carga</a>
                    </li>
                    <li class="breadcrumb-item active">Historial manifiestos</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!-- {{assignForm.invalid}} -->
                <form class="w-100 mx-2" [formGroup]='assignForm' (ngSubmit)="retrieveAssign()">
                    <div class="row">
                        <div class="col-5 form-group">
                            <label for=""><b>Móvil</b></label>
                            <ngx-select [items]="transporters | async" formControlName="transporter" [allowClear]="true"
                                placeholder="Seleccione..." optionTextField="name" (typed)="searchTerm.next($event)"
                                [searchCallback]="search">
                            </ngx-select>
                        </div>
                        <div class="col-4 form-group">
                            <label for=""><b>Fecha de asignación</b></label>
                            <input type="date" class="form-control" formControlName="created_at">
                        </div>
                        <!-- <div class="col-2 d-flex align-items-center position-relative">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="allSwitch" formControlName="all">
                                <label class="custom-control-label" for="allSwitch"><b>Todos los pendientes</b></label>
                            </div>
                        </div> -->
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <button type="submit" title="Buscar" class="btn btn-primary ml-2 px-3"
                                [disabled]="assignForm.invalid"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="services-list">
                        <h5>Órdenes de transporte</h5>
                        <div class="scrollmenu">
                            <table #TableListOt datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Generado</th>
                                        <th>Conductor</th>
                                        <th>Emisor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="pageManifets?.length != 0">
                                    <tr *ngFor="let el of pageManifets">
                                        <td>{{el.serie}}</td>
                                        <td>{{el.created_at}}</td>
                                        <td>{{el.transporter}}</td>
                                        <td>{{el.user}}</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-sm text-white" (click)="openMann(el.pdf)">
                                                <i class="fas fa-file-pdf"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="pageManifets?.length == 0">
                                    <tr>
                                        <td colspan="3" class="no-data-available">No se encontraron resultados</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>