<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Carga masiva</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../../wolist">Listado OT</a></li>
                    <li class="breadcrumb-item active"><a routerLink="../">Solicitud de OT</a></li>
                    <li class="breadcrumb-item active">Carga masiva</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row" *ngIf="isElevated">
                <div class="col-sm-3">
                    <h4 class="card-title"><strong>Empresa</strong></h4>
                </div>
                <div class="col-sm-9">
                    <ngx-select
                        [items]="companies | async"
                        [allowClear]="true"
                        [(ngModel)]="selectedCompany"
                        placeholder="Seleccione..."
                        optionTextField="name"
                    >
                    </ngx-select>
                </div>
            </div>
            <div class="row">
                <form class="col-sm-4 d-flex flex-column" ngNativeValidate (ngSubmit)="beginUpload()">
                    <div>
                        <h4>Archivo Excel</h4>
                        <input type="file" #woFile class="form-control" name="wo_file"
                            placeholder="Ingresar e-mail" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required>
                    </div>
                    <button [disabled]="isLoading" class="btn btn-success upload-button" type="submit">
                        Cargar&nbsp;<i class="fas fa-circle-notch fa-spin" *ngIf="isLoading"></i>
                    </button>
                </form>
                <div class="col-sm-8">
                    <h4>Condiciones archivo de carga</h4>
                    <ul>
                        <li>Los campos marcados en rojo son obligatorios.</li>
                        <li><b>RUT: </b> Sin puntos ni guión.</li>
                        <li><b>Dirección remitente y solicitante: </b> Debe contener dirección, sin número de oficina o departamento. 
                            Ej: <em>Maria Luisa Santander 565.</em></li>
                        <!-- <li><b>Alto, Ancho y Largo: </b>En centímetros, sin puntos, comas ni unidades.</li> -->
                        <!-- <li><b>Peso: </b>En kilogramos, sin unidades.</li> -->
                        <li><b>Producto, Servicio, Tramo y Retorno: </b>Deben ser seleccionados de la lista desplegable o estar escritos exactamente como se presentan.</li>
                        <li><b>Se considerará fin del archivo la linea que contenga la primera celda en blanco.</b></li>
                    </ul>
                    <div class="text-right">
                        <button class="btn btn-outline-success" (click)="downloadTemplate()">
                            Modelo de carga:&nbsp;
                            <i class="fas fa-file-excel"></i>
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="upload-results">
                <div class="results mt-3">
                    <h4>
                        Resultado de la carga: 
                        <span 
                            [ngClass]="{
                                'text-danger': uploadResult.type == 'error',
                                'text-success': uploadResult.type == 'success'
                            }"
                        >{{uploadResult.human}}</span>
                    </h4>
                    <ng-container *ngIf="uploadResult.type=='success'">
                        <table class="table table-bordered table-sm w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>Cantidad</h5>
                                    </th>
                                    <th>
                                        <h5>Códigos</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{uploadResult.details.qty}}</td>
                                    <td>{{uploadResult.details.barcodes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="uploadResult.type=='error'">
                        <table class="table table-bordered table-sm w-100">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>Línea</h5>
                                    </th>
                                    <th>
                                        <h5>Detalle</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let msg of uploadResult.details">
                                    <td>
                                        <b>Línea {{msg.row}}:</b>
                                    </td>
                                    <td>
                                        <div *ngFor="let msg of msg.messages">
                                            <b>{{msg.field}}</b> : <span>{{msg.detail}}</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>