@import '../../../animations/ghost-animation.scss';

:host {
    position: absolute;
    display:block;  
    overflow: hidden;  
    width: 100%;
    margin-top: 40px;
    mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
  }

.list-elem {
    overflow: hidden;
    padding: 14px 34px 18px 8px;
  .icon{
      width: 25px;
      height: 25px;
      background-color: gray;
      @include background-gradient;
      border-radius: 50%;
  }
  .lines { 
    margin-left: 10px;
    width: 80%;
         
    h2, h3, p {      
      background-color: gray;
      border-bottom: 3px solid white;
      border-radius: 4px 4px 4px 4px;
      @include background-gradient;
      @include animate-ghost-line;
    }

    h3 { 
        height: 20px; 
        width: 100%; 
    }
  }
}
