<div class="container-fluid px-0">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div id="map"></div>
        </div>
        <div class="col-md-4">
            <div class="page-breadcrumb">
                <div _ngcontent-afn-c5="" class="page-titles">
                    <h3 _ngcontent-afn-c5="" class="text-themecolor mb-0 mt-0">Visualización de Ruta</h3>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <div>
                        <b>Móvil:&nbsp;</b> <span>{{wos[0]?.transporter}}</span>
                    </div>
                    <div class="mt-3">
                        <b>Fecha:&nbsp;</b> <span>{{routeLookups.log_date | date}}</span>
                    </div>
                    <div class="mt-3">
                        <b>Cantidad de OTs:&nbsp;</b> <span>{{wos.length + invalid_wos.length}}</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <button [disabled]="isLoading || alreadyGenerated" (click)="calcRoute()" type="button" class="btn btn-sm btn-primary">Previsualizar Ruta</button>
                        <button [disabled]="isLoading || alreadyGenerated" (click)="saveRoute()" type="button" class="btn btn-sm btn-warning">Imprimir Manifiesto</button>
                    </div>
                    <hr>
                    <div>
                        <h5>OTs con direcciones inválidas</h5>
                        <table datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                            <thead>
                                <tr>
                                    <th>Cód. Barras</th>
                                    <th>Inválida</th>
                                    <th>Corregir</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ot of invalid_wos; index as i" [ngSwitch]="ot.invalid_type">
                                    <td>{{ot.barcode}}</td>
                                    <td *ngSwitchCase="'sender'">Origen</td>
                                    <td *ngSwitchCase="'receiver'">Destinatario</td>
                                    <td class="text-center">
                                        <button (click)="fixWO(i)" type="button" class="btn btn-sm btn-primary">
                                            <i class="fa fa-location-arrow"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>