<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Workflow</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Workflow</li>
                </ol>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <select class="form-control form-control-sm"  (change)="fila($event.target.value)">
                            <option value="5" >5</option>
                            <option selected value="10" >10</option>
                            <option value="25" >25</option>
                            <option value="50" >50</option>
                            <option value="100" >100</option>
                        </select>
                    </div>
                    <div class="col-7">
                        <button type="button" (click)="downloadExcel()" class="btn btn-success btn-sm text-white mr-1">Excel</button>
                        <button type="button" (click)="downloadPdf()" class="btn btn-danger btn-sm text-white mr-1">PDF</button>
                        <button type="button" (click)="open(filterModal)" class="btn btn-secondary btn-sm"><i class="fas fa-filter"></i></button>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Buscar:</label>
                            <div class="col-sm-9">
                                <input
                                    #filterInput
                                    class="form-control form-control-sm"
                                    type="text"
                                    (keyup)="filterTerm.next(filterInput.value)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <ngx-datatable
                    class="bootstrap"
                    [rows]="currentRows"
                    [columns]="tableColums"
                    columnMode="force"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    rowHeight="auto"
                    [scrollbarH]="true"
                    [externalPaging]="true"
                    [count]="currentPage.count"
                    [offset]="currentPage.offset"
                    [limit]="currentPage.limit"
                    [externalSorting]="true"
                    (sort)="doSort($event)"
                    (page)="setPage($event, true)"
                >
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<ng-template #detailButton let-row="row" let-value="value">
    <a 
        class="btn btn-info btn-sm"
        [routerLink]="['../solicitudot/', value]"
        title="Editar OT">
        <i class="fas fa-edit"></i>
    </a>
</ng-template>
<ng-template #trackingButton let-row="row" let-value="value">
    <a 
        class="btn btn-info btn-sm ml-1"
        [routerLink]="['./tracking']"
        [queryParams]="{ barcode: value}"
        title="Segumiento">
        <i class="fas fa-motorcycle"></i>
    </a>
</ng-template>
<ng-template #filterModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filtros</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="filters" (ngSubmit)="doFilter(false)">
            <div class="row">
                <div class="col-12">
                    <label><strong>Empresa</strong></label>
                    <ngx-select
                        [items]="companies | async"
                        formControlName="company"
                        [allowClear]="true"
                        placeholder="Seleccione..."
                        optionTextField="name"
                    >
                    </ngx-select>
                </div>
                <div class="col-6">
                    <label><strong>Sucursal</strong></label>
                    <ngx-select
                    [items]="branches | async"
                    formControlName="branch"
                    [allowClear]="true"
                    placeholder="Seleccione..."
                    optionTextField="name">
                    </ngx-select>
                </div>
                <div class="col-6">
                    <label><strong>Usuario</strong></label>
                    <ngx-select [items]="users | async" formControlName="user" [allowClear]="true" placeholder="Seleccione..."
                        optionTextField="name">
                    </ngx-select>
                </div>
                <div class="col-6 mt-2">
                    <label><strong>Fecha emisión desde</strong></label>
                    <input type="date" class="form-control" formControlName="created_at__gte" name="created_at__gte">
                </div>
                <div class="col-6 mt-2">
                    <label><strong>Fecha emisión hasta</strong></label>
                    <input type="date" class="form-control" formControlName="created_at__lte" name="created_at__lte">
                </div>
                <div class="col-6 mt-2">
                    <label><strong>Móvil actual</strong></label>
                    <ngx-select
                        [items]="transporters | async"
                        formControlName="transporter"
                        [allowClear]="true"
                        placeholder="Seleccione..."
                        optionTextField="name"
                        (typed)="searchTerm.next($event)"
                        [searchCallback]="search"
                        >
                    </ngx-select>
                </div>
                <div class="col-6 mt-2">
                    <label><strong>Estado</strong></label>
                    <select class="form-control"  formControlName="status" name="status">
                        <option value="0">Anulado</option>
                        <option value="1">Solicitado</option>
                        <option value="2">Asignación retiro</option>
                        <option value="3">Tránsito a central</option>
                        <option value="4">Central</option>
                        <option value="5">Asignación entrega</option>
                        <option value="6">Exitoso</option>
                        <option value="7">Fallido</option>
                        <option value="9">Cerrado</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-warning" (click)="doFilter(true)">Borrar Filtros</button>
        <button type="button" class="btn btn-outline-success" (click)="doFilter(false)">Filtrar</button>
    </div>
</ng-template>