<div class="modal-header">
    <h5 class="modal-title" id="print-masive">Corrección de dirección</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="updateForm" (ngSubmit)="fixAddress()">
<div class="modal-body mx-3">
        <div class="row" *ngIf="wo.invalid_type=='sender'">
            <b>Dirección origen: &nbsp;</b>
            <p>{{wo.sender_address}} {{wo.sender_comune}}, {{wo.sender_region}} {{wo.sender_address_number}}</p>
            <div class="col-6">
                <label><strong>Dirección</strong></label>
                <input #senderAddressSearch type="text" class="form-control" formControlName="sender_address" name="sender_address"
                    placeholder="Ingresar dirección" >
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['sender_address'].invalid && updateForm.controls['sender_address'].dirty || updateForm.controls['sender_address'].touched">
                    Dirección requerida
                </div>
            </div>
            <div class="col-6">
                <label><strong>Comuna</strong></label>
                <input type="text" class="form-control" formControlName="sender_comune" name="sender_comune"
                    placeholder="Ingresar Comuna" readonly="true">
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['sender_comune'].invalid && updateForm.controls['sender_comune'].dirty || updateForm.controls['sender_comune'].touched">
                    Comuna requerida
                </div>
            </div>
        </div>
        <div class="row" *ngIf="wo.invalid_type=='sender'">
            <div class="col-6">
                <label><strong>Región</strong></label>
                <input type="text" class="form-control" formControlName="sender_region" name="sender_region"
                    placeholder="Ingresar región" readonly="true">
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['sender_region'].invalid && updateForm.controls['sender_region'].dirty || updateForm.controls['sender_region'].touched">
                    Región requerida
                </div>
            </div>
            <div class="col-6">
                <label><strong>Dpto/ oficina</strong></label>
                <input type="text" class="form-control" formControlName="sender_address_number" name="sender_address_number"
                    placeholder="Ingresar Dpto/ oficina" >
                <!-- <div class="invalid-feedback" *ngIf="updateForm.controls['sender_address_number'].invalid && updateForm.controls['sender_address_number'].dirty || updateForm.controls['sender_address_number'].touched">
                                        Campo requerido
                                    </div> -->
            </div>
        </div>

        <div class="row" *ngIf="wo.invalid_type=='receiver'">
            <b>Dirección destino: &nbsp;</b>
            <p>{{wo.receiver_address}} {{wo.receiver_comune}}, {{wo.receiver_region}} {{wo.receiver_address_number}}</p>
            <div class="col-6">
                <label><strong>Dirección</strong></label>
                <input #receiverAddressSearch type="text" class="form-control" formControlName="receiver_address" name="receiver_address"
                    placeholder="Ingresar dirección" >
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['receiver_address'].invalid && updateForm.controls['receiver_address'].dirty || updateForm.controls['receiver_address'].touched">
                    Dirección requerida
                </div>
            </div>
            <div class="col-6">
                <label><strong>Comuna</strong></label>
                <input type="text" class="form-control" formControlName="receiver_comune" name="receiver_comune"
                    placeholder="Ingresar Comuna" readonly="true">
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['receiver_comune'].invalid && updateForm.controls['receiver_comune'].dirty || updateForm.controls['receiver_comune'].touched">
                    Comuna requerido
                </div>
            </div>
        </div>
        <div class="row" *ngIf="wo.invalid_type=='receiver'">
            <div class="col-6">
                <label><strong>Región</strong></label>
                <input type="text" class="form-control" formControlName="receiver_region" name="receiver_region"
                    placeholder="Ingresar región" readonly="true">
                <div class="invalid-feedback"
                    *ngIf="updateForm.controls['receiver_region'].invalid && updateForm.controls['receiver_region'].dirty || updateForm.controls['receiver_region'].touched">
                    Región requerida
                </div>
            </div>
            <div class="col-6">
                <label><strong>Dpto/ oficina</strong></label>
                <input type="text" class="form-control" formControlName="receiver_address_number" name="receiver_address_number"
                    placeholder="Ingresar Dpto/ oficina" >
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary pull-left">Guardar</button>
    </div>
</form>