<div class="col-sm-12 col-lg-12">
    <div class="page-breadcrumb">
        <div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor mb-0 mt-0">Prefacturación</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                    <li class="breadcrumb-item active">Prefacturación</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal" [formGroup]="filtersForm" (ngSubmit)="seachPre()">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Empresa</label>
                        <select formControlName="company" class="form-control form-control-sm" name="company">
                            <option *ngFor="let company of companies | async  " value="{{company.id}}">{{company.name}}</option>
                        </select>
                        <!-- <ngx-select
                        [multiple]="true"
                        [items]="companies"
                        optionValueField="id"
                        optionTextField="company_name"
                        formControlName="company"
                        [autoClearSearch]="true"
                        placeholder="Empresas"
                        >
                        </ngx-select> -->
                    </div>
                    <div class="col-sm-3">
                        <label>Desde</label>
                        <input type="date" formControlName="created_at__gte" class="form-control form-control-sm"
                            name="created_at__gte">
                    </div>
                    <div class="col-sm-3">
                        <label>Hasta</label>
                        <input type="date" formControlName="created_at__lte" class="form-control form-control-sm"
                            name="created_at__lte">
                    </div>
                    <div class="col-sm-2 d-flex justify-content-center align-items-end">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        <button type="button" (click)="downloadPre()" class="btn btn-success ml-2"><i class="fas fa-file-excel"></i></button>
                    </div>
                </div>
                <div class="billing-space mt-3">
                    <div class="billing-info">
                        <table class="table w-100 billing-table">
                            <tbody>
                                <tr *ngFor="let segment of billingInfo | async ">
                                    <td>
                                        <tr>{{segment.name}}</tr>
                                    </td>
                                    <td>
                                        <table class="w-100">
                                            <tr *ngFor="let service of segment.services; first as isFirst" >
                                                <td [ngClass]="{'borderless': isFirst}" class="w-50">
                                                    {{service.name}}
                                                </td>
                                                <td [ngClass]="{'borderless': isFirst}" class="w-50">
                                                    <table class="w-100">
                                                        <tr *ngIf="service.no_return_count > 0">
                                                            <td class="borderless">Sin retorno</td>
                                                            <td class="borderless w-10">{{service.no_return_count}}</td>
                                                            <td class="borderless w-20">{{service.no_return_price | currency:'CLP':'symbol-narrow' }}</td>
                                                            <td class="borderless w-30">{{service.no_return_total | currency:'CLP':'symbol-narrow' }}</td>
                                                        </tr>
                                                        <tr *ngIf="service.with_return_count > 0">
                                                            <td>Con retorno</td>
                                                            <td class="w-10">{{service.with_return_count}}</td>
                                                            <td class="w-20">{{service.with_return_price | currency:'CLP':'symbol-narrow' }}</td>
                                                            <td class="w-30">{{service.with_return_total | currency:'CLP':'symbol-narrow' }}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="services-list">
                        <h5>Órdenes de transporte</h5>
                        <table #TableListOt datatable [dtOptions]="dtOptions" class="row-border hover w-100">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Fecha emisión</th>
                                    <th>Nombre Emisor</th>
                                    <th>Dirección orige</th>
                                    <th>Nombre receptor</th>
                                    <th>Dirección destino</th>
                                    <th>Último estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>