/*******************
 Breadcrumb and page title
*******************/

.page-breadcrumb {
  padding: 10px 15px 0 15px;
	margin-top: 8px;
    .page-title{
        margin-bottom: 10px;
    }
    .breadcrumb {
        padding: 0px;
        margin: 0px;
        background: transparent;
        font-size: 12px;
        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-400;
            font-size: 11px;
        }
    }
}
